@tailwind base;
@tailwind components;
@tailwind utilities;

.gg {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  background-color: #2c2f33;
  color: #99aab5;
}

input[type="text"]:focus ~ .input-text,
input[type="text"]:not(:placeholder-shown) ~ .input-text {
  @apply text-blue-500 transform -translate-y-10 -translate-x-2 scale-75;
}
